<!-- <div class="wrapper grid grid-cols-12">
  <div
    class="state col-span-1"
    *ngIf="rbacDetails?.['state'] !== null && rbacDetails?.['state'] !== undefined"
  >
    <p (click)="drilldown(1)" [ngClass]="checkActive(1) ? 'active' : 'notActive'">{{rbacDetails?.stateName}}</p>
  </div>
  <div
    class="state col-span-1"
    *ngIf="rbacDetails?.['district'] !== null && rbacDetails?.['state'] !== null && rbacDetails?.['state'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="district col-span-1" *ngIf="rbacDetails?.['district'] !== null">
    <p (click)="drilldown(2)" [ngClass]="checkActive(2) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['district']]}}</p>
  </div>
  <div
    class="district col-span-1"
    *ngIf="rbacDetails?.['block'] !== null && rbacDetails?.['district'] !== null"
  >
    {{ ">" }}
  </div>
  <div class="block col-span-1" *ngIf="rbacDetails?.['block'] !== null">
    <p (click)="drilldown(3)" [ngClass]="checkActive(3) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['block']]}}</p>
  </div>
  <div
    class="block col-span-1"
    *ngIf="rbacDetails?.['cluster'] !== null && rbacDetails?.['block'] !== null"
  >
    {{ ">" }}
  </div>
  <div class="cluster col-span-1" *ngIf="rbacDetails?.['cluster'] !== null">
    <p (click)="drilldown(4)" [ngClass]="checkActive(4) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['cluster']]}}</p>
  </div>
  <div
    class="cluster col-span-1"
    *ngIf="rbacDetails?.['school'] !== null && rbacDetails?.['cluster'] !== null"
  >
    {{ ">" }}
  </div>
  <div class="school col-span-1" *ngIf="rbacDetails?.['school'] !== null">
    <p (click)="drilldown(5)" [ngClass]="checkActive(5) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['school']]}}</p>
  </div>
  <div
    class="school col-span-1"
    *ngIf="rbacDetails?.['grade'] !== null && rbacDetails?.['school'] !== null"
  >
    {{ ">" }}
  </div>
  <div class="grade col-span-1" *ngIf="rbacDetails?.['grade'] !== null">
    <p (click)="drilldown(6)">{{rbacDetails?.[rbacDetails?.['grade']]}}</p>
  </div>
</div> -->

<div class="wrapper d-flex">
  <div class="state col-span-1" *ngIf="rbacDetails?.['state'] !== null && rbacDetails?.['state'] !== undefined">
    <p (click)="drilldown(1)" [ngClass]="checkActive(1) ? 'active' : 'notActive'">{{rbacDetails?.state_name}}</p>
  </div>
  <div
    class="state seperator col-span-1"
    *ngIf="rbacDetails?.['district'] !== null && rbacDetails?.['district'] !== undefined && rbacDetails?.['state'] !== null && rbacDetails?.['state'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="district col-span-1" *ngIf="rbacDetails?.['district'] !== null && rbacDetails?.['district'] !== undefined">
    <p (click)="drilldown(2)" [ngClass]="checkActive(2) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['district']]}}</p>
  </div>
  <div
    class="district seperator col-span-1"
    *ngIf="rbacDetails?.['block'] !== null && rbacDetails?.['block'] !== undefined && rbacDetails?.['district'] !== null && rbacDetails?.['district'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="block col-span-1" *ngIf="rbacDetails?.['block'] !== null && rbacDetails?.['block'] !== undefined">
    <p (click)="drilldown(3)" [ngClass]="checkActive(3) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['block']]}}</p>
  </div>
  <div
    class="block seperator col-span-1"
    *ngIf="rbacDetails?.['cluster'] !== null && rbacDetails?.['block'] !== null && rbacDetails?.['cluster'] !== undefined && rbacDetails?.['block'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="cluster col-span-1" *ngIf="rbacDetails?.['cluster'] !== null && rbacDetails?.['cluster'] !== undefined">
    <p (click)="drilldown(4)" [ngClass]="checkActive(4) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['cluster']]}}</p>
  </div>
  <div
    class="cluster seperator col-span-1"
    *ngIf="rbacDetails?.['school'] !== null && rbacDetails?.['cluster'] !== null && rbacDetails?.['school'] !== undefined && rbacDetails?.['cluster'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="school col-span-1" *ngIf="rbacDetails?.['school'] !== null && rbacDetails?.['school'] !== undefined">
    <p (click)="drilldown(5)" [ngClass]="checkActive(5) ? 'active' : 'notActive'">{{rbacDetails?.[rbacDetails?.['school']]}}</p>
  </div>
  <div
    class="school seperator col-span-1"
    *ngIf="rbacDetails?.['grade'] !== null && rbacDetails?.['school'] !== null && rbacDetails?.['grade'] !== undefined && rbacDetails?.['school'] !== undefined"
  >
    {{ ">" }}
  </div>
  <div class="grade col-span-1" *ngIf="rbacDetails?.['grade'] !== null && rbacDetails?.['grade'] !== undefined">
    <p (click)="drilldown(6)">{{rbacDetails?.[rbacDetails?.['grade']]}}</p>
  </div>
</div>

