// .wrapper{
//     padding-top: 10px;
// }

// .state, .district, .cluster, .block, .school, .grade{
//     text-align: center;
//     color: black;
//     font-weight: 400;
// }

// .active {
//     cursor: pointer;
// }
// .active:hover {
//     color: blue;
// }

.wrapper{
    min-height: 50px;
    width: fit-content;
    border: var(--cQ-secondary) solid 1.5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: start;
    padding-right: 20px;
    padding-left: 20px;
}

.state, .district, .cluster, .block, .school, .grade{
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    font-weight: 400;
}

.active {
    font-weight: 450;
    color: var(--cQ-secondary);
    text-decoration: underline;
    cursor: pointer;
}

.seperator{
    font-size: 2rem;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}