<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-6">
            <p class="h4">Student Attendance Summary</p>
        </div>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Average Attendance" *ngIf="tabs.includes('Average Attendance')">
            <app-average-attendance *ngIf="selectedTabLabel === 'Average Attendance'"></app-average-attendance>
        </mat-tab>
        <mat-tab label="Gender Wise Average Attendance" *ngIf="tabs.includes('Gender Wise Average Attendance')">
            <app-gender-wise-average-attendance *ngIf="selectedTabLabel === 'Gender Wise Average Attendance'"></app-gender-wise-average-attendance>
        </mat-tab>
    </mat-tab-group>
</div>