<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-4">
        <div class="col-span-2">
            <app-filter-panel [filters]="filters" (filterUpdated)="filtersUpdated($event)"
                colSize="col-span-6"></app-filter-panel>
        </div>
        <div class="col-start-4 col-end-5 download-button">
            <app-download-button [data]="reportsData"></app-download-button>
        </div>
    </div>
    <div class="reports-row">
        <div *ngIf="checkReport('pmposhan_metrics', 'bigNumber1')">
            <app-pmposhan-bignumber-metrics (exportReportData)="importBigNumberMetrics($event)"></app-pmposhan-bignumber-metrics>
        </div>
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow"
                *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
                <div *ngIf="checkReport('pmposhan_metrics', 'bigNumber'+(index+1))">
                    <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
                </div>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('progress_status', 'map')">
                <app-progress-status #progressStatus (exportReportData)="csvDownload($event)"></app-progress-status>
            </div>
        </div>
    </div>
</div>