<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-6">
            <p class="h4">Attendance</p>
        </div>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Average Attendance Compliance" *ngIf="tabs.includes('Average Attendance Compliance')">
            <app-average-teacher-attendance-compliance *ngIf="selectedTabLabel === 'Average Attendance Compliance'"></app-average-teacher-attendance-compliance>
        </mat-tab>
    </mat-tab-group>
</div>