<div class="metric-card-wrapper">
	<div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
		<div class="col-span-12">
			<p class="program-title">
				Information and Communication Technology
				<em><small>(ICT - Tele Education)</small></em>
			</p>
			<p class="program-desc">
				Tele Education is a technology aided instruction platform in Assam which
				has enabled remote teaching using e-content from broadcasting studio at
				any location
			</p>
		</div>
	</div>
</div>

<div class="custom-tab-group-wrapper">
	<mat-tab-group
		[selectedIndex]="tabIndex"
		mat-align-tabs="start"
		animationDuration="0ms"
		(selectedTabChange)="onTabChanged($event)"
		appFullScreen
	>
		<mat-tab label="Tele Education" *ngIf="tabs.includes('Tele Education')">
			<app-tele-education-tab
				*ngIf="selectedTabLabel === 'Tele Education'"
			></app-tele-education-tab>
		</mat-tab>
		<mat-tab label="Session">
			<app-session-tab *ngIf="selectedTabLabel === 'Session'"></app-session-tab>
		</mat-tab>
		<!-- <mat-tab label="Tele Session">
			<app-tele-session-tab
				*ngIf="selectedTabLabel === 'Tele Session'"
			></app-tele-session-tab>
		</mat-tab> -->
	</mat-tab-group>
</div>
