<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-4">
        <div class="col-span-3">
            <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"
                colSize="col-span-4"></app-filter-panel>
        </div>
        <div class="col-start-4 col-end-5 download-button">
            <!-- <app-popup-options [data]="reportsData" [reportName]="'ncf_progress_status'" ></app-popup-options> -->
            <app-download-button [data]="reportsData"></app-download-button>

        </div>
    </div>
    <div class="reports-row" >
        <div *ngIf="checkReport('ncf_metrics', 'bigNumber1')" id="bignumber1">
        </div>
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow" id="bignumber2"
                *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
                <div *ngIf="checkReport('pmposhan_metrics', 'bigNumber'+(index+1))">
                    <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
                </div>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('progress_status', 'map')" id="map">
                <app-progress-status #progresStatus
                    (exportReportData)="csvDownload($event)"></app-progress-status>
            </div>
        </div>
    </div>
</div>
