<!-- <p>ques-wise-performance-tab works!</p> -->
<!-- 
<div class="col-span-full tab-wrapper">
	<div class="filter-row grid grid-cols-5">
		<div class="xmd:col-span-3 col-span-5">
			<app-filter-panel
				[filters]="filters"
				(filtersUpdated)="filtersUpdated($event)"
				colSize="lg:col-span-4 col-span-6"
			></app-filter-panel>
		</div>
		<div class="download-button xmd:col-start-4 xmd:col-end-6 col-span-5 flex">
			<app-download-button [data]="reportsData"></app-download-button>
		</div>
	</div>
	<div class="reports-row">
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('lo_wise_performance', 'table')"
				id="table"
			>
				<app-ques-wise-performance
					#quesWisePerformance
					(exportReportData)="csvDownload($event)"
				></app-ques-wise-performance>
			</div>
		</div>
	</div>
</div> -->

<div class="col-span-full tab-wrapper">
	<p class="tab-desc">
		This report shows the % of teachers present in the school within the
		selected time duration on average
	</p>

	<div class="filter-row grid grid-cols-12">
		<app-filter-panel
			[filters]="filters"
			(filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"
		></app-filter-panel>
	</div>

	<div class="filter-row grid grid-cols-10">
		<div
			class="time-series-filter xmd:col-span-5 md:col-span-4 lg:col-span-3 col-span-10"
		>
			<app-time-series-filter-panel
				(timeSeriesUpdated)="timeSeriesUpdated($event)"
				[minDate]="minDate"
				[maxDate]="maxDate"
				[defaultSelectedDays]="defaultSelectedDays"
			></app-time-series-filter-panel>
		</div>
		<!-- <div class="filter-row grid grid-cols-4">
			<app-filter-panel
				[filters]="filters"
				(filtersUpdated)="filtersUpdated($event)"
				colsize="lg:col-span-3 col-span-6"
			>
			</app-filter-panel>
		</div> -->

		<div
			class="download-button py-2 xmd:col-start-6 xmd:col-end-11 md:col-start-5 md:col-end-11 col-start-11 col-end-20 flex"
		>
			<app-download-button
				[data]="schoolReportsData"
				pagereportName="school"
			></app-download-button>
			&nbsp;
			<app-download-button [data]="reportsData"></app-download-button>
		</div>
	</div>

	<div class="grid grid-cols-4 gap-8">
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
		<div class="md:col-span-2 col-span-4 my-3 criteria-wrapper">
			<!-- <app-criteria [criteriaConfig]="criteriaConfig"></app-criteria> -->
		</div>
	</div>

	<div class="reports-row">
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				id="bignumber"
				*ngIf="checkReport('ques_average_bignumber', 'bigNumber')"
			>
				<app-ques-average-bignumber
					#AverageBigNumber
				></app-ques-average-bignumber>

				<hr />
				<!-- <app-lo-trendline-chart
					[chartConfig]="trendLineConfig"
					#LoTrendlineChartComponent
				></app-lo-trendline-chart> -->
			</div>

			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('lo_wise_performance', 'table')"
				id="table1"
			>
				<app-ques-wise-performance
					#quesWisePerformance
					(exportReportData)="csvDownload($event)"
				></app-ques-wise-performance>
			</div>
			<!-- <div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('lo_average_barchart', 'barChart')"
				id="bar"
			>
				<app-ques-average-barchart
					#averageBarchart
					(exportReportData)="csvDownload($event)"
				></app-ques-average-barchart>
			</div> -->

			<div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('ques_average_school', 'table')"
				id="table3"
			>
				<app-ques-average-school-table
					#averageSchool
					(exportReportData)="csvDownload($event)"
				></app-ques-average-school-table>
			</div>
			<!-- <div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('lo_average_barchart', 'barChart')"
				id="bar"
			>
				<app-ques-average-barchart
					#averageBarchart
					(exportReportData)="csvDownload($event)"
				></app-ques-average-barchart>
			</div> -->
		</div>
	</div>
</div>
