<div class="col-span-full tab-wrapper">
	<div class="filter-row grid grid-cols-12">
		<app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"></app-filter-panel>
	</div>

	<div class="reports-row">
		<div *ngIf="checkReport('staff_students_metrics_card', 'bigNumber1')" id="bignumber1">
			<app-staff-details-big-number-metrics
				(exportReportData)="importBigNumberMetrics($event)"></app-staff-details-big-number-metrics>
		</div>
		<div class="row-wrapper grid grid-cols-5 gap-4">
			<div class="col-span-2 xmd:col-span-1 bignumber-container" id="bignumber2"
				*ngFor="let bigNumberData of bigNumberMetrics; let index = index">
				<div *ngIf="checkReport('staff_students_metrics_card', 'bigNumber' + (index + 1))">
					<app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
				</div>
			</div>
		</div>
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('management_barchart', 'barChart')"
				id="bar">
				<app-teacher-by-appointment-chart #managementBarchart
					(exportReportData)="csvDownload($event)"></app-teacher-by-appointment-chart>
			</div>
			<div class="col-span-2 xmd:col-span-1 div-shadow" id="table1"
				*ngIf="checkReport('district_wise_table', 'table')">
				<app-staff-by-management-table #districtWiseTable
					(exportReportData)="csvDownload($event)"></app-staff-by-management-table>
			</div>

			
			<div class="col-span-2 xmd:col-span-2 div-shadow" *ngIf="checkReport('category_barchart', 'barChart')"
				id="bar">
				<app-teacher-engagement-by-education-level #categoryBarchart
					(exportReportData)="csvDownload($event)"></app-teacher-engagement-by-education-level>
			</div>
			<div class="col-span-2 xmd:col-span-2 div-shadow" *ngIf="checkReport('enrollment_barchart', 'barChart')"
				id="bar">
				<app-teacher-by-gender-and-social-category #educationBarchart
					(exportReportData)="csvDownload($event)"></app-teacher-by-gender-and-social-category>
			</div>
			<div class="col-span-2 xmd:col-span-2 div-shadow" *ngIf="checkReport('classroom_ratio_table', 'table')"
				id="table3">
				<app-teacher-by-highest-academic-qualification #classroomRatioTable
					(exportReportData)="csvDownload($event)"></app-teacher-by-highest-academic-qualification>
			</div>
			<div class="col-span-2 xmd:col-span-2 div-shadow" *ngIf="checkReport('teacher_ratio_table', 'table')"
				id="table3">
				<app-teacher-by-highest-professional-qualification #teacherRatioTable
					(exportReportData)="csvDownload($event)"></app-teacher-by-highest-professional-qualification>
			</div>
		</div>
	</div>
</div>