button, button:hover {
    color: white;
    background-color: #4C30F5;
}
.download-icon {
    display: none;
}

@media only screen and (max-width: 667px) {
    .download-icon {
        padding-top: 1rem;
        display: block;
    }
    button {
        display: none;
        height: 37px;
        width: 133px;
        margin-top: -17px;
        color: #4C30F5;
    }
    
}


p {
    font-family: Lato;
  }
  
  .alert  {
    position: fixed;
    top: 68px;
    right: 1.5rem;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 1rem;
    background: #fff;
    color: #f65656;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }