<div class="metric-card-wrapper">
	<div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
		<div class="col-span-12">
			<p class="program-title">
				STUDENT Enrollment<em><small></small></em>
			</p>
			<p class="program-desc"></p>
		</div>
	</div>
</div>

<div class="custom-tab-group-wrapper">
	<mat-tab-group
		[selectedIndex]="tabIndex"
		mat-align-tabs="start"
		animationDuration="0ms"
		(selectedTabChange)="onTabChanged($event)"
		appFullScreen
	>
		<mat-tab label="Comparitive Data" *ngIf="tabs.includes('Comparitive Data')">
			<app-student-enroll-summary-tab
				*ngIf="selectedTabLabel === 'Comparitive Data'"
			></app-student-enroll-summary-tab>
		</mat-tab>
		<!-- <mat-tab label="Average Student Present">
			<app-student-average-tab
				*ngIf="selectedTabLabel === 'Average Student Present'"
			></app-student-average-tab>
		</mat-tab> -->
	</mat-tab-group>
</div>
