<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title">School Infrastructure</p>
            <p class="program-desc">This program entails indicators to monitor reporting of attendance and presence of
                teachers in the jurisdiction.</p>
        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper">
    <div class="col-span-full tab-wrapper">
        <div class="reports-row">
            <div class="row-wrapper grid grid-cols-2 gap-4"> 
                <div class="col-span-2 xmd:col-span-1 div-shadow" id="bignumber">
                    <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
                </div>
               
            </div>
        </div>
        <div class="reports-row">
            <div class="chart-wrapper">
                <div class="xs:col-span-full  text-center py-2" *ngIf="tableReportData?.data?.length > 0">
                    <app-material-heat-chart-table [tableData]="tableReportData" [title]="title"></app-material-heat-chart-table>
                </div>
            
            </div>
        </div>
    </div>
</div>