<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title">Review Meetings</p>
            <p class="program-desc">This program entails indicators to monitor compliance of monthly review meetings
                being conducted at all levels.</p>
        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>
        <mat-tab label="Review Meetings" *ngIf="tabs.includes('Review Meetings')">
            <app-review-meetings-tab *ngIf="selectedTabLabel === 'Review Meetings'"></app-review-meetings-tab>
        </mat-tab>
    </mat-tab-group>
</div>