<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-12 my-5">
      <app-filter-panel
        [filters]="filters"
        (filtersUpdated)="filtersUpdated($event)"
        class="col-span-12"
      ></app-filter-panel>
    </div>
    <div class="reports-row">
      <div class="md:col-span-2 col-span-4">
        <app-breadcrumb-component></app-breadcrumb-component>
      </div>
      <div class="row-wrapper grid grid-cols-2 gap-4">
        <div
          class="col-span-2 xmd:col-span-2 div-shadow"
          id="table1"
          *ngIf="checkReport('management_first_table', 'table')"
        >
          <app-school-type-first-table
            #performing_wise_table_one
            (exportReportData)="csvDownload($event)"
          ></app-school-type-first-table>
        </div>
      </div>

    </div>
  </div>
  