
<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-4">
        <div class="col-span-2">
            <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)" colSize="col-span-6"></app-filter-panel>
        </div>
        <div class="col-start-4 col-end-5 download-button" >
            <app-popup-options [data]="reportsData" [reportName]="'review_meetings'" ></app-popup-options>
        </div>
    </div>
    <div class="reports-row" >
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('review_meetings_conducted_bignumber', 'bigNumber')" id="bignumber">
                <app-review-meetings-conducted-bignumber #reviewMeetingsConductedBignumber></app-review-meetings-conducted-bignumber>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('review_meetings_conducted', 'table')" id="table1">
                <app-review-meetings-conducted #reviewMeetingsConducted (exportReportData)="csvDownload($event)"></app-review-meetings-conducted>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('review_meetings_status', 'table')" id="table2">
                <app-review-meetings-status #reviewMeetingsStatus (exportReportData)="csvDownload($event)"></app-review-meetings-status>
            </div>
        </div>
    </div>
</div>