<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-4">
        <div class="col-start-4 col-end-5 download-button">
            <!-- <app-popup-options [data]="reportsData" [reportName]="'nas_district_wise'" ></app-popup-options> -->
            <app-download-button [data]="reportsData"></app-download-button>

        </div>
    </div>
    <div class="reports-row" >
        <div class="row-wrapper grid grid-cols-1 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('quiz_wise_status', 'table')" id="table">
                <app-quiz-wise-status #QuizWiseStatusComponent
                    (exportReportData)="csvDownload($event)"></app-quiz-wise-status>
            </div>
        </div>
    </div>
</div>