<div class="col-span-full tab-wrapper">
	<p class="tab-desc">
		This report shows the % change of enrolled students in the school within the
		selected dates on average
	</p>

	<div class="filter-row grid grid-cols-12">
		<app-filter-panel
			[filters]="filters"
			(filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"
		></app-filter-panel>
	</div>

	<div class="filter-row grid grid-cols-10">
		<div
			class="time-series-filter xmd:col-span-5 md:col-span-4 lg:col-span-3 col-span-10"
		>
			<app-time-series-filter-panel
				(timeSeriesUpdated)="timeSeriesUpdated($event)"
				[minDate]="minDate"
				[maxDate]="maxDate"
				[defaultSelectedDays]="defaultSelectedDays"
			></app-time-series-filter-panel>
		</div>
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
	</div>

	<div class="reports-row">
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				id="bignumber"
				*ngIf="checkReport('student_comparative_bignumber', 'bigNumber')"
			>
				<app-student-comparative-bignumber
					#studentComparativeBigNumber
				></app-student-comparative-bignumber>
				<hr />
				<app-student-denroll-bignumber
					#studentDenrollBigNumber
				></app-student-denroll-bignumber>
				<hr />
				<app-student-percentage-change-bignumber
					#studentPercentageChangeBigNumber
				></app-student-percentage-change-bignumber>
				<!-- <hr />
				<app-student-trendline
					#studentTrendchart
					(exportReportData)="csvDownload($event)"
				></app-student-trendline> -->
			</div>

			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('student_comparative_table', 'table')"
				id="table1"
			>
				<app-student-comparative-table
					#studentcomparativeTable
					(exportReportData)="csvDownload($event)"
				></app-student-comparative-table>
			</div>
			<div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('student_comparative_barchart', 'barChart')"
				id="bar"
			>
				<app-student-comparative-barchart
					#studentComparativeBarchart
					(exportReportData)="csvDownload($event)"
				></app-student-comparative-barchart>
			</div>

			<!-- <div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('student_comparative_school', 'table')"
				id="table3"
			>
				<app-student-comparative-school-table
					#comparativeSchool
					(exportReportData)="csvDownload($event)"
				></app-student-comparative-school-table>
			</div> -->
		</div>
	</div>
</div>
