<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-5">
        <div class="xmd:col-span-3 col-span-5">
            <app-filter-panel [isMulti]="true" [filters]="filters" (filtersUpdated)="filtersUpdated($event)"
                colSize="lg:col-span-4 col-span-6"></app-filter-panel>
        </div>
        <div class="download-button xmd:col-start-4 xmd:col-end-6 col-span-5 flex">
            <!-- <app-popup-options [data]="reportsData" [reportName]="'diksha_content'" ></app-popup-options> -->
            <app-download-button [data]="reportsData"></app-download-button>
        </div>
    </div>
    <div class="reports-row">
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-full div-shadow" *ngIf="checkReport('lo_wise_avg_student_assessment_score_table', 'table')"
                id="table">
                <app-lo-wise-summary #LoWiseSummaryComponent (exportReportData)="csvDownload($event)"></app-lo-wise-summary>
            </div>
        </div>
    </div>
</div>