<div class="wrapper" *ngIf="filters && filters.length > 0">
  <div class="grid grid-cols-10 filter-panel-wrapper align-items-center">
    <div class="col-span-full xmd:col-span-full">
      <div class="grid grid-cols-12">
        <ng-container *ngFor="let filter of filters; let i = index">
          <div class="filter-wrapper" [ngClass]="colSize">
            <ng-select #selectRef class="mx-2 custom-dropdown" dropdownPosition="bottom" [id]="'filter-'+filter.name"
              [name]="'filter-'+filter.name" [multiple]="isFilterMulti()" [closeOnSelect]="false"
              placeholder="Select {{filter.name}}" [clearable]="resetOthers" [(ngModel)]="filter.value"
              (ngModelChange)="onSelectOption($event, i, selectRef)">
              <ng-option *ngFor="let option of filter.options" [value]="option.value">{{ convertNativeMetricLabelToReadable(option.label) }}</ng-option>
            </ng-select>
          </div>
        </ng-container>

      </div>

    </div>

  </div>
  <!-- <div class="col-span-2 text-right" *ngIf="!hideClearButton">
    <button mat-raised-button color="primary" (click)="clearFilters()">Clear Filters</button>
  </div> -->
</div>