<div class="container-fluid" style=" height: 100%;">
    <div class="justify-center items-center">
        <div class="row ">
            <div class="col-4">
                <div class="pull-right">
                    <img src="../../../assets/images/Line 1png" alt="" srcset="">
                    <img src="../../../assets/images/Line 2.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-4 text-center">
                <span class="welcometxt">Welcome</span><br>
            </div>
            <div class="col-4">
                <img src="../../../assets/images/Line 3.png" alt="" srcset="">
                <img src="../../../assets/images/Line 4.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <div class="text-center">
            <span class="tostyle">to</span><br>
            <span class="samikshadiv">VIDYA SAMIKSHA KENDRA</span><br>
            <span class="selectRole">Please select your role</span>
        </div>
    </div>
    <div class="flex flex-wrap justify-center">
        <div class="" *ngFor="let role of roles">
            <img id="cQb_dhsbrd" class="btn " class="officers" (click)="onRoleSelect(role.value)"
                src="../../../assets//images/{{role.imageUrl}}" alt="" srcset="">
        </div>
    </div>
</div>