<div class="metric-card-wrapper">
	<div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
		<div class="col-span-12">
			<p class="program-title">
				STUDENT PERFORMANCE <em><small>(STUDENT-PERFORMANCE)</small></em>
			</p>
			<p class="program-desc">
				The Periodic Assemssments Test (PAT) provide schools with up-to-date
				information about what each student knows and can do so that teachers
				can target teaching to the learning needs of every child.
			</p>
		</div>
	</div>
</div>

<div class="custom-tab-group-wrapper">
	<mat-tab-group
		[selectedIndex]="tabIndex"
		mat-align-tabs="start"
		animationDuration="0ms"
		(selectedTabChange)="onTabChanged($event)"
		appFullScreen
	>
		<mat-tab label="Overall Summary" *ngIf="tabs.includes('Overall Summary')">
			<app-overall-summary-tab
				*ngIf="selectedTabLabel === 'Overall Summary'"
			></app-overall-summary-tab>
		</mat-tab>
		<!-- <mat-tab label="Average Student Present">
			<app-student-average-tab
				*ngIf="selectedTabLabel === 'Average Student Present'"
			></app-student-average-tab>
		</mat-tab> -->
	</mat-tab-group>
</div>
