<div class="col-span-full tab-wrapper">
    <div class="filter-row grid md:grid-cols-4 grid-cols-10">
        <div class="time-series-filter md:col-span-1 col-span-9">
            <app-time-series-filter-panel (timeSeriesUpdated)="timeSeriesUpdated($event)" [minDate]="minDate"
                [maxDate]="maxDate" [defaultSelectedDays]="defaultSelectedDays"></app-time-series-filter-panel>
        </div>
        <div class="download-button md:col-start-4 md:col-end-5 col-start-10 col-end-11">
            <app-download-button [data]="reportsData"></app-download-button>
        </div>
    </div>
    <div class="reports-row">
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow"
                *ngIf="checkReport('tas_average_attendance_bignumber', 'bigNumber')">
                <app-tas-average-attendance-bignumber
                    #averageAttendanceBigNumber></app-tas-average-attendance-bignumber>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('tas_average_attendance', 'table')">
                <app-tas-average-attendance #averageAttendance></app-tas-average-attendance>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow"
                *ngIf="checkReport('tas_average_attendance_rank', 'table')">
                <app-tac-average-attendance-rank #averageAttendanceRank></app-tac-average-attendance-rank>
            </div>
        </div>
    </div>
</div>