<div class="col-span-full tab-wrapper">
    <p class="tab-desc">
        This report shows the % of teachers present in the school (out of the ones who have reported their attendance)
        within the selected time duration on an average.
    </p>
    <!-- <app-breadcrumb-component></app-breadcrumb-component> -->
    <div class="filter-row grid md:grid-cols-4 grid-cols-10">
        <div class="time-series-filter md:col-span-1 col-span-9">
            <app-time-series-filter-panel (timeSeriesUpdated)="timeSeriesUpdated($event)" [minDate]="minDate"
                [maxDate]="maxDate" [defaultSelectedDays]="defaultSelectedDays"></app-time-series-filter-panel>
        </div>
        <div class="download-button md:col-start-4 md:col-end-5 col-start-10 col-end-11">
            <app-popup-options [data]="reportsData" [reportName]="'teacher_attendance_summary'" ></app-popup-options>
            <!-- <app-download-button [data]="reportsData"></app-download-button> -->
        </div>
    </div>
    <div class="reports-row" >
        <div class="row-wrapper grid grid-cols-2 gap-4">
            <div class="col-span-2 xmd:col-span-1 div-shadow" id="bignumber"
                *ngIf="checkReport('tas_average_attendance_bignumber', 'bigNumber')">
                <app-tas-average-attendance-bignumber
                    #averageAttendanceBigNumber></app-tas-average-attendance-bignumber>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('tas_average_attendance', 'table')" id="table1">
                <app-tas-average-attendance #averageAttendance></app-tas-average-attendance>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow"
                *ngIf="checkReport('tas_average_attendance_rank', 'table')" id="table2">
                <app-tac-average-attendance-rank #averageAttendanceRank></app-tac-average-attendance-rank>
            </div>
        </div>
    </div>
</div>