.dropdown-list {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 101;
    width: 100px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    /* this will position the dropdown content on the left side */
}

.btn {
    color: white;
    background-color: #4C30F5;
}

.download-icon {
    display: none;
}

/* style the download buttons */
.download-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

/* hide the dropdown content by default */
.dropdown-content {
    display: none;
}

/* show the dropdown content when the dropdown list is clicked */
.dropdown-list.active .dropdown-content {
    display: block;
}

.download-icon {
    display: none;
}

@media only screen and (max-width: 667px) {
    .download-icon {
        padding-top: 1rem;
        display: block;
    }

    .btn {
        display: none;
        height: 37px;
        width: 133px;
        margin-top: -17px;
        color: #4C30F5;
    }

}


.dropdown-content span {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}

.dropdown-content span:hover {
    background-color: #ddd;
}