<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title ">NIPUN Bharat</p>
            
    </div>
</div>

<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>

        <mat-tab label='Textbook Status' *ngIf="tabs.includes('Textbook Status')">
            <app-textbook-status-tab
                *ngIf="selectedTabLabel === 'Textbook Status'"></app-textbook-status-tab>
        </mat-tab>

        <mat-tab label='Learning Sessions' *ngIf="tabs.includes('Learning Sessions')">
            <app-learning-sessions-tab
                *ngIf="selectedTabLabel === 'Learning Sessions'"></app-learning-sessions-tab>
        </mat-tab>
        
    </mat-tab-group>
</div>