<div class="grid grid-cols-3 mb-2">
    <div class="col-start-2 col-end-3 wrapper">
        <div class="d-flex justify-content-center">
            <p class="h3">Your Location</p>
        </div>
        <form class="form theme-form" [formGroup]="rbacForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="mb-4" *ngFor="let filter of filters; let ind = index" [attr.data-index]="ind">
                <!-- <label class="form-label" [for]="filter?.name?.toLowerCase()">{{filter?.name}}</label> -->
                <ng-select class="ng-select-control" [formControlName]="filter?.name?.toLowerCase()"
                    [id]="filter?.name?.toLowerCase()" [placeholder]="'Select ' + filter?.name" (change)="changeFilter(filter)">
                    <ng-option *ngFor="let option of filter?.options" [value]="option[filter.valueProp]">
                        {{option[filter?.labelProp]}}
                    </ng-option>
                </ng-select>
                <span
                    *ngIf="f?.[filter?.name?.toLowerCase()]?.touched && f?.[filter?.name?.toLowerCase()]?.errors?.['required']">
                    <small class="text-danger">{{'Please Select a ' + filter.name}}</small>
                </span>
            </div>
            <button class="pull-right" type="submit" id="submit" data-bs-original-title="" title="">Submit</button>
        </form>
    </div>
</div>