<div class="col-span-full tab-wrapper">
	<!-- <p class="tab-desc">
		This report shows the % change of enrolled students in the school within the
		selected dates on average
	</p> -->

	<div class="filter-row grid grid-cols-12">
		<app-filter-panel
			[filters]="filters"
			(filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"
		></app-filter-panel>
	</div>

	<!-- <div class="filter-row grid grid-cols-10">
		<div
			class="time-series-filter xmd:col-span-5 md:col-span-4 lg:col-span-3 col-span-10"
		>
			<app-time-series-filter-panel
				(timeSeriesUpdated)="timeSeriesUpdated($event)"
				[minDate]="minDate"
				[maxDate]="maxDate"
				[defaultSelectedDays]="defaultSelectedDays"
			></app-time-series-filter-panel>
		</div>
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
	</div> -->

	<div class="reports-row">
		<div *ngIf="checkReport('diksha_metrics', 'bigNumber1')" id="bignumber1">
			<app-school-bignumber
				(exportReportData)="importBigNumberMetrics($event)"
			></app-school-bignumber>
		</div>
		<div class="row-wrapper grid grid-cols-5 gap-4">
			<div
				class="col-span-2 xmd:col-span-1 bignumber-container"
				id="bignumber2"
				*ngFor="let bigNumberData of bigNumberMetrics; let index = index"
			>
				<div *ngIf="checkReport('diksha_metrics', 'bigNumber' + (index + 1))">
					<app-big-number
						[bigNumberReportData]="bigNumberData"
					></app-big-number>
				</div>
			</div>
		</div>
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				id="table1"
				*ngIf="checkReport('district_wise_table', 'table')"
			>
				<app-district-wise-table
					#districtWiseTable
					(exportReportData)="csvDownload($event)"
				></app-district-wise-table>
			</div>

			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('management_barchart', 'barChart')"
				id="bar"
			>
				<app-management-barchart
					#managementBarchart
					(exportReportData)="csvDownload($event)"
				></app-management-barchart>
			</div>
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('category_barchart', 'barChart')"
				id="bar"
			>
				<app-category-barchart
					#categoryBarchart
					(exportReportData)="csvDownload($event)"
				></app-category-barchart>
			</div>
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('receipts_barchart', 'barChart')"
				id="bar"
			>
				<app-receipts-barchart
					#receiptsBarchart
					(exportReportData)="csvDownload($event)"
				></app-receipts-barchart>
			</div>

			<!-- <div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('classroom_ratio_table', 'table')"
				id="table3"
			>
				<app-classroom-ratio-table
					#classroomRatioTable
					(exportReportData)="csvDownload($event)"
				></app-classroom-ratio-table>
			</div> -->
		</div>
	</div>
</div>
