
.mat-tab-body-wrapper {
    padding: 10px 0;
}

.metric-card-wrapper {
    padding: 10px;
    background-color: white;

    .h4 {
        font-weight: bold;
        color: #67bbe1;
    }
}

.custom-tab-group-wrapper {
    background-color: #f5f5f5 !important;
    margin-top: 2rem !important;
    border-radius: 2rem 0 0 2rem;
    padding: 1.5rem !important;
    row-gap: 1rem;
}

.full-screen:fullscreen {
    overflow: auto;
    background: white;
}

.leaflet-container {
    font-size: 0.75rem;
}

.leaflet-tooltip {
    width: 300px;
    white-space: initial;
}
  
  .download-button {
    margin-left: auto;
    padding-right: 8%;
    padding-top: 3%;
    // margin-top: -19px;
    // margin-left: -51px;
    // white-space: nowrap;
    // overflow: hidden;
    // color: #fff;
    // background-color: #007bff;
    // border-color: #007bff;
    // text-overflow: ellipsis;
  }
  

// .highcharts-tooltip text, .highcharts-tooltip text tspan {
//     font-size: 2rem;
// }

@media(min-width: 1920px) {
    .leaflet-container {
        font-size: 1rem;
    }

    .leaflet-control-container {
        a {

            .leaflet-control-zoom-in,
            .leaflet-control-zoom-out {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 2rem;
            }
        }
    }
}

@media(min-width: 2048px) {
    .leaflet-container {
        font-size: 1rem;
    }

    .leaflet-control-container {
        a {

            .leaflet-control-zoom-in,
            .leaflet-control-zoom-out {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 2.25rem;
            }
        }
    }
}

@media(min-width: 2560px) {
    .leaflet-container {
        font-size: 1.5rem;
    }

    .leaflet-control-container {
        a {

            &.leaflet-control-zoom-in,
            &.leaflet-control-zoom-out {
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: 2.5rem;
            }
        }
    }
}

@media(min-width: 3840px) {
    .leaflet-container {
        font-size: 2rem;
    }

    .leaflet-control-container {
        a {

            &.leaflet-control-zoom-in,
            &.leaflet-control-zoom-out {
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 3rem;
            }
        }
    }
}

@media(min-width: 4096px) {
    .leaflet-container {
        font-size: 2.5rem;
    }

    .leaflet-control-container {
        a {

            &.leaflet-control-zoom-in,
            &.leaflet-control-zoom-out {
                width: 100px;
                height: 100px;
                line-height: 100px;
                font-size: 3.5rem;
            }
        }
    }
}

// .mat-tab-label .mat-tab-label-content {
//     padding: 0 0.3em;
// }

.noData {
    color: red;
    text-align: center;
    // margin-top: 9rem;
}

.filename{
    color: var(--cQ-secondary) !important;
}

::ng-deep {
    .ng-select.ng-select-focused .ng-select-container:after{
        border-color: transparent;
        border-width: 0px;
    }
        .ng-select .ng-select-container:after {
        border-bottom : 0px solid rgba(0,0,0,0.42);
    }
}