<div class="col-span-full tab-wrapper">
	<p class="tab-desc">
		This report shows the % of Teacher Present in the school within the selected
		time duration on average
	</p>

	<!-- <div class="filter-row grid grid-cols-4">
		<app-filter-panel
			[filters]="filters"
			(filtersUpdated)="filtersUpdated($event)"
			colsize="lg:col-span-3 col-span-6"
		>
		</app-filter-panel>
	</div> -->
	<div class="filter-row grid grid-cols-12">
		<app-filter-panel
			[filters]="filters"
			(filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"
		></app-filter-panel>
	</div>

	<div class="filter-row grid grid-cols-10">
		<div
			class="time-series-filter xmd:col-span-5 md:col-span-4 lg:col-span-3 col-span-10"
		>
			<app-time-series-filter-panel
				(timeSeriesUpdated)="timeSeriesUpdated($event)"
				[minDate]="minDate"
				[maxDate]="maxDate"
				[defaultSelectedDays]="defaultSelectedDays"
			></app-time-series-filter-panel>
		</div>
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
	</div>

	<!-- <div class="grid grid-cols-4 gap-8">
		<div class="md:col-span-2 col-span-4">
			<app-breadcrumb-component></app-breadcrumb-component>
		</div>
		
	</div> -->

	<div class="reports-row">
		<div class="row-wrapper grid grid-cols-2 gap-4">
			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				id="bignumber"
				*ngIf="checkReport('teacher_bignumber', 'bigNumber')"
			>
				<app-teacher-bignumber #teacherBigNumber></app-teacher-bignumber>
			</div>

			<div
				class="col-span-2 xmd:col-span-1 div-shadow"
				*ngIf="checkReport('teacher_average_table', 'table')"
				id="table1"
			>
				<app-teacher-average-table
					#teacherAverageTable
					(exportReportData)="csvDownload($event)"
				></app-teacher-average-table>
			</div>

			<!-- <div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('teacher_barchart', 'barChart')"
				id="bar"
			>
				<app-teacher-barchart
					#teacherBarchart
					(exportReportData)="csvDownload($event)"
				></app-teacher-barchart>
			</div> -->

			<div
				class="col-span-2 xmd:col-span-2 div-shadow"
				*ngIf="checkReport('teacher_average_school', 'table')"
				id="table3"
			>
				<app-teacher-school-table
					#teacherAverageSchool
					(exportReportData)="csvDownload($event)"
				></app-teacher-school-table>
			</div>
		</div>
	</div>
</div>
