<div class="col-span-full tab-wrapper">
    <div class="filter-row grid grid-cols-5">
        <div class="xmd:col-span-3 col-span-5">
            <app-filter-panel [isMulti]="true" [filters]="filters" (filtersUpdated)="filtersUpdated($event)"
                colSize="lg:col-span-4 col-span-6"></app-filter-panel>
        </div>
        <div class="download-button xmd:col-start-4 xmd:col-end-6 col-span-5 flex">
            <app-download-button [data]="reportsData"></app-download-button>
        </div>
    </div>
    <div class="reports-row">
        <div class="row-wrapper grid grid-cols-2 gap-4">

            <div class="col-span-2 xmd:col-span-1 div-shadow"
                *ngIf="checkReport('content_coverage_bignumber', 'bigNumber')" id="bignumber">
                <app-content-coverage-bignumber #contentCoverageBigNumber
                    (exportReportData)="csvDownload($event)"></app-content-coverage-bignumber>
            </div>
            <div class="col-span-2 xmd:col-span-1 div-shadow" *ngIf="checkReport('content_coverage', 'table')"
                id="table">
                <app-content-coverage #contentCoverage (exportReportData)="csvDownload($event)"></app-content-coverage>
            </div>
        </div>
    </div>
</div>