<div class="col-span-full tab-wrapper">
  <!-- <div class="filter-row grid grid-cols-12 my-5">
		<app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"
			class="col-span-12"></app-filter-panel>
	</div> -->
  <div
    class="time-series-filter1 xmd:col-span-1 md:col-span-4 lg:col-span-3 col-span-3 gap-4 date-25"
  >
    <app-time-series-filter-panel
      (timeSeriesUpdated)="timeSeriesUpdated($event)"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [defaultSelectedDays]="defaultSelectedDays"
    ></app-time-series-filter-panel>
  </div>
  <div class="reports-row">
    <div class="md:col-span-2 col-span-4">
      <app-breadcrumb-component></app-breadcrumb-component>
    </div>

    <div class="row-wrapper grid grid-cols-2 gap-4">
      <div
        class="col-span-2 xmd:col-span-2 div-shadow"
        id="table1"
        *ngIf="checkReport('overall_status_table', 'table')"
      >
        <app-overall-status-table
          #performing_wise_table_one
          (exportReportData)="csvDownload($event)"
        >
        </app-overall-status-table>
      </div>
      <!--<div class="col-span-2 xmd:col-span-2 div-shadow"
			 *ngIf="checkReport('enrollment_barchart', 'barChart')"
				id="bar">
				<app-attendance-graph #attendanceGraph
					(exportReportData)="csvDownload($event)">
				</app-attendance-graph>
			</div> -->

    </div>
  </div>
  
      <div class="reports-row w-full">
        <div class="row-wrapper grid grid-cols-3 gap-4">
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumberone', 'bigNumber')"
          >
            <app-overall-status-bignumberone-metrics
              #OverallStatusBignumberMetrics
            ></app-overall-status-bignumberone-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumbertwo', 'bigNumber')"
          >
            <app-overall-status-bignumbertwo-metrics
              #OverallStatusBignumberMetricsTwo
            ></app-overall-status-bignumbertwo-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumberthree', 'bigNumber')"
          >
            <app-overall-status-bignumberthree-metrics
              #OverallStatusBignumberMetricsThree
            ></app-overall-status-bignumberthree-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumberfour', 'bigNumber')"
          >
            <app-overall-status-bignumberfour-metrics
              #OverallStatusBignumberMetricsFour
            ></app-overall-status-bignumberfour-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumberfive', 'bigNumber')"
          >
            <app-overall-status-bignumberfive-metrics
              #OverallStatusBignumberMetricsFive
            ></app-overall-status-bignumberfive-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumbersix', 'bigNumber')"
          >
            <app-overall-status-bignumbersix-metrics
              #OverallStatusBignumberMetricsSix
            ></app-overall-status-bignumbersix-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumberseven', 'bigNumber')"
          >
            <app-overall-status-bignumberseven-metrics
              #OverallStatusBignumberMetricsSeven
            ></app-overall-status-bignumberseven-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumbereight', 'bigNumber')"
          >
            <app-overall-status-bignumbereight-metrics
              #OverallStatusBignumberMetricsEight
            ></app-overall-status-bignumbereight-metrics>
          </div>
          <div
            class="col-span-3 xmd:col-span-1 div-shadow bigNumber"
            id="bigNumberHeight"
            *ngIf="checkReport('overall_status_bignumbernine', 'bigNumber')"
          >
            <app-overall-status-bignumbernine-metrics
              #OverallStatusBignumberMetricsNine
            ></app-overall-status-bignumbernine-metrics>
          </div>
        </div>
      </div>
</div>
